header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
#main-part {
    padding-top: 60px;
}
.shops{
    position: fixed;
}
a:link{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.nav-link{
    color: black;
    background-color: white;
}

#shopping-cart-order{
    height:350px;
    width:500px;
    border:1px solid #a62121;
    font:16px Arial, Serif;
    overflow:auto;">
}